.main {
  p {
    font-weight: 300;
  }
}

li {
  font-weight: 200;
}

section {
  margin-bottom: 7rem;
}
form {
  label {
    color: white;
    font-size: 14px;
    font-weight: 300;
    .required-mark {
      color: red;
      margin-left: 3px;
    }
  }

  .contact-form-control {
    color: white;
    outline: none;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #747688;
    border-radius: 8px;
    font-weight: 200;
    margin-top: 10px;
  }
  .form-control,
  .form-select {
    color: white;
    outline: none;
    padding: 10px;
    background-color: #171a39;
    border: 1px solid #747688;
    border-radius: 8px;
    font-weight: 200;
    margin-top: 10px;
  }
}

.contact-details {
  background-color: #2e314d;
  border-radius: 24px;
}

.send-button {
  color: white;
  background-color: #17d386;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: none;
  border-radius: 24px;

  i {
    margin-left: 10px;
  }
}
