* {
    color: white;
  }
  
  .main {
    p {
      font-weight: 300;
    }
  }
  
  li {
    font-weight: 200;
  }
  
  section {
    margin-bottom: 110px;
  }
  .about-us {
    font-weight: 200;
  }