*{
  color: white;
}
.main {
  p {
    font-weight: 300;
  }
}

.who-can-benefit {
  h4 {
    font-size: 24px;
    font-weight: 500;
  }
  li {
    font-weight: 200;
  }
}

section {
  margin-bottom: 7rem;
}
