<section class="container about-us">
  <h4 class="mb-5">Haqqımızda</h4>
  <div class="d-flex align-items-center wrapper mb-2">
    <div>
      <p>
        QAFQAZNET olaraq texnologiyanı yalnız bir vasitə kimi deyil, inkişafın
        təməl daşı olaraq görürük. Biz innovativ həllərimizlə biznesinizi
        zirvələrə qaldırmaq üçün etibarlı tərəfdaşınızıq.
      </p>
      <p class="mb-4">
        2015-ci ildə fəaliyyətə başlayan QAFQAZNET, texnologiyanın biznes
        dünyasında inqilabi dəyişikliklər yaratdığına inanaraq, bu sahədə öncül
        mövqeyini qorumağa çalışır. İlk gündən müştərilərimizin fərdi
        ehtiyaclarını dərk edərək onlara uyğunlaşdırılmış, innovativ həllər
        təqdim etməyi hədəfləmişik.
      </p>
    </div>
    <img src="assets/images/about-us.png" alt="" />
  </div>
</section>

<section class="container our-values">
  <h4 class="mb-5">Dəyərlərimiz</h4>

  <div class="row">
    <div class="value-card col-6 col-lg-3">
      <img src="assets/images/handshake.svg" alt="" />
      <h4>Müştəriyönümlülük</h4>
      <p>
        Biz müştərilərimizin ehtiyaclarını dərindən anlayır və onlara ən uyğun
        həlləri təqdim etmək üçün fərdi yanaşırıq.
      </p>
    </div>

    <div class="value-card col-6 col-lg-3">
      <img src="assets/images/lamp.svg" alt="" />
      <h4>İnnovasiya</h4>
      <p>
        Hər zaman yeni texnoloji trendləri izləyir və tətbiq edirik ki,
        müştərilərimizə ən müasir həlləri təqdim edək.
      </p>
    </div>

    <div class="value-card col-6 col-lg-3">
      <img src="assets/images/verified.svg" alt="" />
      <h4>Etibar və Keyfiyyət</h4>
      <p>
        Hər layihəyə böyük məsuliyyətlə yanaşır, hər bir xidmətin yüksək
        keyfiyyətlə və vaxtında icra olunmasına diqqət edirik.
      </p>
    </div>

    <div class="value-card col-6 col-lg-3">
      <img src="assets/images/network.svg" alt="" />
      <h4>Komanda işi</h4>
      <p>
        Uğurumuzun əsası peşəkar komandamızdır. Birlikdə işləmək və
        müştərilərimizin müvəffəqiyyətini təmin etmək bizim əsas məqsədimizdir.
      </p>
    </div>
  </div>
</section>

<section class="container main-facts">
  <h4 class="mb-5">Əsas faktlar</h4>
  <div class="row">
    <div class="col-lg-7">
      <ul class="facts list-unstyled">
        <li class="mb-5">
          <h5 class="mb-3">Missiyamız</h5>
          <p>
            Bizim missiyamız, müştərilərimizə etibarlı, yenilikçi və effektiv İT
            həllər təqdim edərək onların işini daha təhlükəsiz, səmərəli və
            gələcəyə hazır vəziyyətə gətirməkdir. Məqsədimiz təklitexnoloji
            həllər ilə müştərilərimizin böyüməsinə və rəqabətə davamlı olmasına
            kömək etməkdir.
          </p>
        </li>
        <li class="mb-5">
          <h5 class="mb-3">Vizyonumuz</h5>
          <p>
            QAFQAZNET olaraq, texnologiyanı gələcəyin açarı kimi görür və daim
            yenilikləri ön planda tuturuq. Hədəfimiz, Azərbaycanda və regionda
            İT sahəsində lider olaraq tanınmaq və müştərilərimizin davamlı
            inkişafına yönəlmiş qabaqcıl texnologiya və xidmətlər təqdim
            etməkdir.
          </p>
        </li>
        <li class="mb-5">
          <h5 class="mb-3">Maliyyə hesabatları</h5>
          <ul class="list-unstyled">
            <li>2023-cü il üzrə Maliyyə hesabatı və Audit rəyi</li>
            <li>2022-ci il üzrə Maliyyə hesabatı və Audit rəyi</li>
            <li>2021-ci il üzrə Maliyyə hesabatı və Audit rəyi</li>
            <li>2020-ci il üzrə Maliyyə hesabatı və Audit rəyi</li>
            <li>2019-cu il üzrə Maliyyə hesabatı və Audit rəyi</li>
            <li>2018-ci il üzrə Maliyyə hesabatı və Audit rəyi</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="experience-div col-lg-5">
      <ul class="list-unstyled row">
        <li class="experience-item col-4 col-lg-6">
          <h1>100+</h1>
          <p>Müştəri</p>
        </li>
        <li class="experience-item col-4 col-lg-6">
          <h1>50+</h1>
          <p>Əməkdaş</p>
        </li>
        <li class="experience-item col-4 col-lg-6">
          <h1>45+</h1>
          <p>Xidmət</p>
        </li>
        <li class="experience-item col-4 col-lg-6">
          <h1>165+</h1>
          <p>Layihə</p>
        </li>
        <li class="experience-item col-4 col-lg-6">
          <h1>20+</h1>
          <p>Tərəfdaş</p>
        </li>
        <li class="experience-item col-4 col-lg-6">
          <h1>10 illik</h1>
          <p>Təcrübə</p>
        </li>
      </ul>
    </div>
  </div>
</section>
