section {
  gap: 12px;
  user-select: none;
}

.breadcrumb-link {
  color: white;
  text-decoration: none;
  font-weight: 200;
  font-size: 14px;

  &:not(&:last-child):hover {
    color: #17d386;
  }
}

span {
  color: white;
  font-weight: 200;
  font-size: 14px;
}
