<section class="container news">
    <h4 class="mb-5">Xəbərlər</h4>
  
    <div class="row g-4 mb-5">
      <div class="col-4">
        <div class="news-card" [routerLink]="[1]">
          <div class="news-card-wrapper">
            <h5 class="m-0">Yeni Layihəmiz Uğurla Tamamlandı</h5>
            <p>
              Yerli biznes üçün yeni CRM sistemi istifadəyə verildi. Bu sistem
              satışların avtomatlaşdırılması və müştəri məmnuniyyəti üçün nəzərdə
              tutulub.
            </p>
          </div>
          <div
            class="w-100 news-card-footer d-flex align-items-center justify-content-between"
          >
            <p>15 Sentyabr 2024</p>
            <button><i class="fa-solid fa-arrow-right"></i></button>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="news-card" [routerLink]="[1]">
          <div class="news-card-wrapper">
            <h5 class="m-0">QafqazNet Beynəlxalq Tədbirdə İştirak Etdi</h5>
            <p>
              İT Texnologiyaları Sərgisində təqdim etdiyimiz həllər beynəlxalq
              şirkətlərlə əməkdaşlıq üçün yeni imkanlar yaratdı.
            </p>
          </div>
          <div
            class="w-100 news-card-footer d-flex align-items-center justify-content-between"
          >
            <p>30 Avqust 2024</p>
            <button><i class="fa-solid fa-arrow-right"></i></button>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="news-card" [routerLink]="[1]">
          <div class="news-card-wrapper">
            <h5 class="m-0">Bizneslər üçün Yeni Kiber Təhlükəsizlik Xidməti!</h5>
            <p>
              Yeni kiber təhlükəsizlik xidmətimiz ilə biznes məlumatlarınızı
              təhlükələrdən qorumaq daha asan olacaq.
            </p>
          </div>
          <div
            class="w-100 news-card-footer d-flex align-items-center justify-content-between"
          >
            <p>10 İyul 2024</p>
            <button><i class="fa-solid fa-arrow-right"></i></button>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="news-card" [routerLink]="[1]">
          <div class="news-card-wrapper">
            <h5 class="m-0">Yeni Layihəmiz Uğurla Tamamlandı</h5>
            <p>
              Yerli biznes üçün yeni CRM sistemi istifadəyə verildi. Bu sistem
              satışların avtomatlaşdırılması və müştəri məmnuniyyəti üçün nəzərdə
              tutulub.
            </p>
          </div>
          <div
            class="w-100 news-card-footer d-flex align-items-center justify-content-between"
          >
            <p>15 Sentyabr 2024</p>
            <button><i class="fa-solid fa-arrow-right"></i></button>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="news-card" [routerLink]="[1]">
          <div class="news-card-wrapper">
            <h5 class="m-0">QafqazNet Beynəlxalq Tədbirdə İştirak Etdi</h5>
            <p>
              İT Texnologiyaları Sərgisində təqdim etdiyimiz həllər beynəlxalq
              şirkətlərlə əməkdaşlıq üçün yeni imkanlar yaratdı.
            </p>
          </div>
          <div
            class="w-100 news-card-footer d-flex align-items-center justify-content-between"
          >
            <p>30 Avqust 2024</p>
            <button><i class="fa-solid fa-arrow-right"></i></button>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="news-card" [routerLink]="[1]">
          <div class="news-card-wrapper">
            <h5 class="m-0">Bizneslər üçün Yeni Kiber Təhlükəsizlik Xidməti!</h5>
            <p>
              Yeni kiber təhlükəsizlik xidmətimiz ilə biznes məlumatlarınızı
              təhlükələrdən qorumaq daha asan olacaq.
            </p>
          </div>
          <div
            class="w-100 news-card-footer d-flex align-items-center justify-content-between"
          >
            <p>10 İyul 2024</p>
            <button><i class="fa-solid fa-arrow-right"></i></button>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="news-card" [routerLink]="[1]">
          <div class="news-card-wrapper">
            <h5 class="m-0">Yeni Layihəmiz Uğurla Tamamlandı</h5>
            <p>
              Yerli biznes üçün yeni CRM sistemi istifadəyə verildi. Bu sistem
              satışların avtomatlaşdırılması və müştəri məmnuniyyəti üçün nəzərdə
              tutulub.
            </p>
          </div>
          <div
            class="w-100 news-card-footer d-flex align-items-center justify-content-between"
          >
            <p>15 Sentyabr 2024</p>
            <button><i class="fa-solid fa-arrow-right"></i></button>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="news-card" [routerLink]="[1]">
          <div class="news-card-wrapper">
            <h5 class="m-0">QafqazNet Beynəlxalq Tədbirdə İştirak Etdi</h5>
            <p>
              İT Texnologiyaları Sərgisində təqdim etdiyimiz həllər beynəlxalq
              şirkətlərlə əməkdaşlıq üçün yeni imkanlar yaratdı.
            </p>
          </div>
          <div
            class="w-100 news-card-footer d-flex align-items-center justify-content-between"
          >
            <p>30 Avqust 2024</p>
            <button><i class="fa-solid fa-arrow-right"></i></button>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="news-card" [routerLink]="[1]">
          <div class="news-card-wrapper">
            <h5 class="m-0">Bizneslər üçün Yeni Kiber Təhlükəsizlik Xidməti!</h5>
            <p>
              Yeni kiber təhlükəsizlik xidmətimiz ilə biznes məlumatlarınızı
              təhlükələrdən qorumaq daha asan olacaq.
            </p>
          </div>
          <div
            class="w-100 news-card-footer d-flex align-items-center justify-content-between"
          >
            <p>10 İyul 2024</p>
            <button><i class="fa-solid fa-arrow-right"></i></button>
          </div>
        </div>
      </div>
    </div>
  
    <div class="w-100">
      <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [pageLinkSize]="6"
        [rows]="rows"
        [totalRecords]="120"
        [showFirstLastIcon]="false"
      />
    </div>
  </section>
  