<section class="container">
  <div class="main">
    <div class="content">
      <h3>Etibarlı İT İnf﻿rastruktur və İnnovasiya Tərəfdaşınız</h3>
      <h5>
        Biznesinizi irəli aparmaq üçün fərdi və yüksək keyfiyyətli İT həlləri
        təklif edirik.
      </h5>
      <button class="custom-button">
        <i class="fab fa-whatsapp"></i>
        Konsultasiya
      </button>
    </div>
    <div class="scene">
      <div class="wrapper">
        <ul class="ball list-unstyled">
          <li class="ring"></li>
          <li class="ring"></li>
          <li class="ring"></li>
          <li class="ring"></li>
          <li class="ring"></li>
          <li class="ring"></li>
          <li class="ring"></li>
          <li class="ring"></li>
          <li class="ring"></li>
          <li class="ring"></li>
          <li class="ring"></li>
          <li class="ring"></li>
          <li class="ring"></li>
          <li class="ring"></li>
          <li class="ring"></li>
          <li class="ring"></li>
          <li class="ring"></li>
          <li class="ring"></li>
          <li class="ring"></li>
          <li class="ring"></li>
          <li class="ring"></li>
          <li class="ring"></li>
          <li class="ring"></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="container about-us">
  <h4>Haqqımızda</h4>
  <div class="d-flex align-items-center wrapper">
    <div>
      <p>
        QAFQAZNET olaraq texnologiyanı yalnız bir vasitə kimi deyil, inkişafın
        təməl daşı olaraq görürük. Biz innovativ həllərimizlə biznesinizi
        zirvələrə qaldırmaq üçün etibarlı tərəfdaşınızıq.
      </p>
      <p class="mb-4">
        2015-ci ildə fəaliyyətə başlayan QAFQAZNET, texnologiyanın biznes
        dünyasında inqilabi dəyişikliklər yaratdığına inanaraq, bu sahədə öncül
        mövqeyini qorumağa çalışır. İlk gündən müştərilərimizin fərdi
        ehtiyaclarını dərk edərək onlara uyğunlaşdırılmış, innovativ həllər
        təqdim etməyi hədəfləmişik.
      </p>
      <button class="transparent-btn2" routerLink="/about-us">
        Ətraflı<i class="fas fa-arrow-right"></i>
      </button>
    </div>
    <img src="assets/images/about-us.png" alt="" />
  </div>
</section>

<section class="container our-experience">
  <h4>Təcrübəmiz</h4>
  <ul class="w-100 list-unstyled d-flex justify-content-between">
    <li class="experience-item">
      <h1>100+</h1>
      <p>Müştəri</p>
    </li>
    <li class="experience-item">
      <h1>50+</h1>
      <p>Əməkdaş</p>
    </li>
    <li class="experience-item">
      <h1>45+</h1>
      <p>Xidmət</p>
    </li>
    <li class="experience-item">
      <h1>165+</h1>
      <p>Layihə</p>
    </li>
    <li class="experience-item">
      <h1>10 illik</h1>
      <p>Təcrübə</p>
    </li>
  </ul>
</section>

<section class="container our-services">
  <div class="w-100 d-flex justify-content-between align-items-center mb-4">
    <h4>Xidmətlərimiz</h4>
    <button class="transparent-btn2">
      Ətraflı<i class="fas fa-arrow-right"></i>
    </button>
  </div>
  <div class="row g-4">
    <div
      class="col-4"
      *ngFor="let service of ourServices"
      [routerLink]="['/services', service.id]"
    >
      <div class="service-card">
        <i [class]="service.icon"></i>
        <h5 class="m-0">{{ service.title }}</h5>
        <p>
          {{ service.description }}
        </p>
      </div>
    </div>
  </div>
</section>

<section class="our-customers">
  <div class="container">
    <h4>Müştərilərimiz</h4>
  </div>
  <div
    class="slider"
    reverse="true"
    style="--width: 350px; --height: 200px; --quantity: 15"
  >
    <div class="list">
      @for (item of ourCustomers; track $index) {
      <div class="item" [ngStyle]="{ '--position': $index + 1 }">
        <img [src]="item.image" alt="" />
      </div>
      }
    </div>
  </div>
</section>

<!-- carousel start -->
<section class="container">
  <p-carousel
    [value]="reviews"
    [numVisible]="1"
    [numScroll]="1"
    [circular]="true"
    [autoplayInterval]="8000"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-rew pTemplate="item">
      <div class="border-1 surface-border border-round m-2 p-3">
        <section class="carousel-wrapper position-relative">
          <div class="d-flex flex-column align-items-center">
            <div class="img-wrapper mb-4">
              <img [src]="rew.img" alt="" />
            </div>
            <div
              class="content d-flex flex-column align-items-center justify-content-center"
            >
              <p class="name">{{ rew.fullname }}</p>
              <p class="position m-0">{{ rew.position }}</p>
            </div>
          </div>
          <div class="content px-5 py-2 d-flex flex-column">
            <i class="fa-solid fa-quote-left"></i>
            <h4>{{ rew.message }}</h4>
            <!-- <div class="nav-buttons">
          <i class="fa-solid fa-chevron-left"></i>
          <i class="fa-solid fa-chevron-right"></i>
        </div> -->
          </div>
        </section>
      </div>
    </ng-template>
  </p-carousel>
</section>

<!-- carousel end -->
<section class="container news">
  <div class="w-100 d-flex justify-content-between align-items-center mb-5">
    <h4>Xəbərlər</h4>
    <button class="transparent-btn2">
      Bütün xəbərlər<i class="fas fa-arrow-right"></i>
    </button>
  </div>
  <div class="row g-4">
    <div class="col-4">
      <div class="news-card">
        <div class="news-card-wrapper">
          <h5 class="m-0">Yeni Layihəmiz Uğurla Tamamlandı</h5>
          <p>
            Yerli biznes üçün yeni CRM sistemi istifadəyə verildi. Bu sistem
            satışların avtomatlaşdırılması və müştəri məmnuniyyəti üçün nəzərdə
            tutulub.
          </p>
        </div>
        <div
          class="w-100 news-card-footer d-flex align-items-center justify-content-between"
        >
          <p>15 Sentyabr 2024</p>
          <button><i class="fa-solid fa-arrow-right"></i></button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="news-card">
        <div class="news-card-wrapper">
          <h5 class="m-0">QafqazNet Beynəlxalq Tədbirdə İştirak Etdi</h5>
          <p>
            İT Texnologiyaları Sərgisində təqdim etdiyimiz həllər beynəlxalq
            şirkətlərlə əməkdaşlıq üçün yeni imkanlar yaratdı.
          </p>
        </div>
        <div
          class="w-100 news-card-footer d-flex align-items-center justify-content-between"
        >
          <p>30 Avqust 2024</p>
          <button><i class="fa-solid fa-arrow-right"></i></button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="news-card">
        <div class="news-card-wrapper">
          <h5 class="m-0">Bizneslər üçün Yeni Kiber Təhlükəsizlik Xidməti!</h5>
          <p>
            Yeni kiber təhlükəsizlik xidmətimiz ilə biznes məlumatlarınızı
            təhlükələrdən qorumaq daha asan olacaq.
          </p>
        </div>
        <div
          class="w-100 news-card-footer d-flex align-items-center justify-content-between"
        >
          <p>10 İyul 2024</p>
          <button><i class="fa-solid fa-arrow-right"></i></button>
        </div>
      </div>
    </div>
  </div>
</section>
