<footer class="container">
  <div class="row justify-content-between top">
    <div class="col-6 d-flex justify-content-between">
      <div class="img-wrapper">
        <img src="assets/images/qn-logo.svg" alt="" />
      </div>
      <ul class="list-unstyled">
        <li><a [routerLink]="['home']">Ana səhifə</a></li>
        <li><a [routerLink]="['home', 'services']">Xidmətlər</a></li>
        <li><a [routerLink]="['home', 'products']">Məhsullar</a></li>
      </ul>
      <ul class="list-unstyled">
        <li><a [routerLink]="['home', 'company', 'about']">Haqqımızda</a></li>
        <li><a [routerLink]="['home', 'company', 'contact']">Əlaqə</a></li>
        <li><a [routerLink]="['home', 'blog']">Bloq</a></li>
        <li><a [routerLink]="['home', 'company', 'news']">Xəbərlər</a></li>
      </ul>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <ul class="list-unstyled">
        <li>Telefon: +994 12 310 07 07</li>
        <li>E-poçt: office&#64;qafqaz.net</li>
        <li>Ünvan: Z. Bünyadov pr. 43, Baku, Azerbaijan 1068</li>
      </ul>
    </div>
  </div>
  <img class="w-100" src="assets/images/line-gradient.png" alt="" />
  <div class="bottom d-flex justify-content-between">
    <p>© 2024 QafqazNet. Bütün hüquqlar qorunur.</p>
    <ul class="list-unstyled m-0 d-flex">
      <li>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
      </li>
    </ul>
  </div>
</footer>
